body {
	background-color: #0C0C0C;
	margin: 0;
	margin-bottom: 10px;
}

.banner {
	background-color: #000;
}

nav div {
	text-align: center;
}

.logo {
	max-width: 80%;
	height: auto;
}

.menu-child {
	display: inline-flex;
}

.menu {
	margin-top: -5px;
	background-color: #101010;
	text-align: center;
}

.menu .button {
	color: #E03FB1;
	border-left: 1px solid #232323;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	font-family: Trebuchet MS, Verdana, sans-serif;
	padding: .7em 1.3em .7em 1.3em;
	width: auto;
}

.menu .border-right {
	border-right: 1px solid #232323;
}

.menu .button:hover {
	background-color: #232323;
}

.lists {
	margin: 0 auto;
}

.list {
	text-align: center;
	margin: 10px 0px;
}

.list h3 {
	margin: 20px 20%;
	color: #666;
	display: block;
	font-size: 1rem;
	font-family: verdana,arial,tahoma,sans-serif;
	font-weight: bold;
	background-color: #101010;
	padding: 20px;
	border-radius: 15px;
}

@media only screen and (min-width: 750px) {
	.menu .button {
		/* bigger font */
		font-size: 1.5rem;
	}

	.list h3 {
		font-size: 1.5rem;
	}
}

.list h3:hover {
	color: #888;
	cursor: pointer;
}

.list table {
	margin: auto;
	border: 1px solid #232323;
}

.list table th {
	background-color: #0C0C0C;
	color: #0387DB;
	font-size: 1.5rem;
	font-family: arial;
}

.list table td {
	color: #999;
	font-size: 1.1rem;
	font-family: arial;
	padding: 4px;
}

.list table td:hover {
	background-color: #3C3C3C;
}

.list table .even-background {
	background-color: #232323;
}

.list table .odd-background {
	background-color: #191919;
}

font[type="Administrators"] {
	color: #EB1D51;
}
font[type="Moderators"] {
	color: #BABD2F;
}
font[type="Sentinels"] {
	color: #2ECF73;
}
font[type="Mapcrew"] {
	color: #2F7FCC;
}
font[type="Module Team"] {
	color: #7AC9C4;
}
font[type="Funcorp"] {
	color: #FF9C00;
}
font[type="Fashion Squad"] {
	color: #EF98AA;
}

font[type="small"] {
	font-size: 1.1rem;
	font-family: verdana,arial,tahoma,sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.staff-list-properties {
	transition: opacity .5s;
	opacity: 1;
}

.invisible-animate {
	opacity: 0;
}

.invisible-hide {
	display: none;
}

span[type="footer"] {
	color: #AAAAAA;
	font-family: Verdana;
	font-size: 0.8rem;
}

span[type="credit"]:after {
	color: #1C96CF;
	content: '';
	animation: faded-content-change-out 1s 1;
	animation-fill-mode: forwards;
}

span[type="credit"]:hover:after {
	animation: faded-content-change-in 1s 1;
	animation-fill-mode: forwards;
}

@keyframes faded-content-change-out {
	0% {
		opacity: 1;
		content: 'Bolodefchoco#0000';
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		content: '@Lautenschlager';
	}
}

@keyframes faded-content-change-in {
	0% {
		opacity: 1;
		content: '@Lautenschlager';
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		content: 'Bolodefchoco#0000';
	}
}

.clickable {
	cursor: pointer;
}